global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  3m
    timeout server  3m

frontend irc_frontend
    bind *:6667
    default_backend irc_servers

backend irc_servers
    balance leastconn
    option  tcp-check
    timeout check 5s
    server pircd-1 pircd-1:6667 check inter 10s fall 2 rise 2
    server pircd-2 pircd-2:6667 check inter 10s fall 2 rise 2
    server pircd-3 pircd-3:6667 check inter 10s fall 2 rise 2
